interface {{ interface.name }}
 description {{ interface.description}}
 {% if interface.uplink %}
 switch port mode trunk
 {% else %}
 switchport access vlan {{ interface.vlan }}
 switchport mode access
 {% endif %}